@import "compass/css3/border-radius";

$white : #FFFFFF;
$black : #000000;
$green : #008000;
$greenLight: #17B717;

body {
	background-color: $white;
	font-family: 'Lato', sans-serif;
}

header#topHeader {
	border: solid 1px red;
	/*width: 100%;*/
	height: 50px;
	padding: 10px;
	#logo {
		font-size: 2em;
		float: left;
	}
	nav#navHeader {
		margin : 0 auto;
		text-align: center;
		width: 200px;
		float: left;
	}
	#login {
		float: right;
		background-color: $green;
		color: $white;
		padding: 5px;
		@include border-radius(4px, 4px);
		font-size: 0.8em;
		cursor: pointer;
		&:hover{
			background-color: $greenLight;
		};
	}
}

#content {
	min-height: 450px;
	border: solid 1px;
	margin : 0 auto;
	padding: 10px;
}

footer#bottomFooter {
	width: 100%;
	height: 50px;
	border: solid 1px blue;
	#copyrights {
		margin : 10px auto;
		text-align: center;
		font-size: 12px;
	}
}