<!DOCTYPE html>
<html>
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		{% block stylesheets %}
	    {% stylesheets "@DrinkWithMainBundle/Resources/assets/scss/clear.scss"
	    				"@DrinkWithMainBundle/Resources/assets/scss/main.scss"
	    				output="style/drink-main.css"%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

	    <link href="{{ asset('bundles/picweek/css/main.css') }}" rel="stylsheet" type="text/css">
	    {% endblock %}

	    {% block headJavascripts %}
		{% endblock %}


		<title>{% block title %}Drink With{% endblock %}</title>
    </head>
    <body>
    	<header>
    	</header>
    	<div id="content">
        	{% block content %}
            {% endblock %}
        </div>
        <footer>
        </footer>
    </body>
</html>